footer.footer
      div.container
        span.text-muted.copyright 
            span.developed-by Developed by 
                a(href="//mahesh-maharjan.com.np" target="_blank") Mahesh Maharjan 
            span.copyright-text | Copyright &copy; #{year} NP Forex Commodity
        |&nbsp;
        a(href="/disclaimer") Disclaimer
        | &nbsp;| 
        a(href="/terms-of-use") Terms Of Use