nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
      button.navbar-toggler.navbar-toggler-right
        span.navbar-toggler-icon

      a(href="/").navbar-brand NP Forex Commodity
      div.collapse.navbar-collapse#navbarCollapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a(href="/").nav-link Home 
                span.sr-only
          li.nav-item.active
            a(href="/about").nav-link About 
                span.sr-only