extends layout

block content
    include ./includes/nav.pug

    .container
      .mt-3
        h1= title

        ul
          li 
              a(href="/stocklive" target="_blank") Nepal Stock Live json
          li 
              a(href="/todaysprice" target="_blank") Nepal Today's Price json
          li 
              a(href="/commodity" target="_blank") Commodity Price json
          li 
              a(href="/forex" target="_blank") Nepal FOREX json

    include ./includes/footer.pug