doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='This site provides api like function that returns FOREX rates, commodity prices, nepal stock today\'s price, nepal stock live trading')
    meta(name='author', content='https://mahesh-maharjan.com.np')
    title= title
    link(rel='shortcut icon' href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/sticky-footer-navbar.css')
  body
    block content
